/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.core {
  fill: transparent;
  transition: fill 0.3s ease;
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s ease;
  transition-delay: 0s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s ease;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s ease;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s ease;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s ease;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s 1 both;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  98% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-pop 0.3s ease-in 0.3s 1 both;
  opacity: 1;
  transform: scale(1);
  transform-origin: center;
}

@keyframes sparks-pop {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  98% {
    opacity: 1;
    transform: scale(1.25);
  }
  99% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}